html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 17px;
    color:#444;

}
*,*::before,*::after{
    box-sizing: inherit;
}
a {
    text-decoration: none;
   
}

a label:hover, a:hover, a:visited, a:hover:visited{
    color:#444;
    cursor: pointer;
}

.container{
    width: 1200px;
    margin: auto;
}
.body{
    
    display: grid;
   
    grid-template-columns: 1fr 4fr;
   
}

ul{
    margin:0;
    padding:0;
}

section{
    margin: 20px 0;
}
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;

}


.infoline, form.hform, .userline, .categories, .variety{
    display:flex;
    

}
.infoline{
    justify-content: space-between;
    align-items: center;
   
}

form.hform{
    justify-content:space-between;
    align-items: center;
 
}


form.hform input{
    height: 40px;
}
form.hform input.searchtext{
width:260px;
}

form.hform input.searchtext::placeholder{
    color: grey;
    font-size: 16px;
    text-align: center;
}

form.hform input.searchbutton{
    width:100px;
    background-color:black;
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:white;
    font-size: 18px;
    font-weight: bold;

}

form.hform input.searchbutton:hover{
    background-color:#444;
}


.logoet img{
width: 130px;



}

.userline{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    
}

.userline li{
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding:0 15px;
   margin-left:8px;
}

.userline li:nth-child(3)
{
    border:1px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.userline a{
    text-decoration: none;
}

.userline li:hover{
text-decoration: underline;
color:#777;
}

.userline li:nth-child(3) a:visited{
    color:#444;
}

.userline li:nth-child(3):hover,.userline li:nth-child(3):hover a:visited
{
    background-color: black;
    color:white;
    text-decoration: none;

}

.icons i p{
    padding: 5px 0 0 0;
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
}
.icons i{
    font-size: 25px;
}

.icons:hover a:visited{
    color:black;
}

.userline li:nth-child(4){

border-right: 1px solid #eee;
border-left: 1px solid #eee;

}

.categories, .variety{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 15px;
    height: 40px;
    
}

p.showmore{
    padding: 10px;
    
    
    width:120px;
    height:40px;
    text-align: center;
    
    
}

p.showmore:hover{
    background-color: #eee;
    border-radius: 25px;
}

.showmore i{
   
    color:#444;
    font-weight: bold;
   
}

i.fa span{

    font-family: sans-serif;
}



hr{
    background-color:#ccc;
}
.variety{
justify-content:left;
align-items: center;


}
.variety li{
    /* margin-right:15px; */
    height: 40px;
    line-height: 40px;
    padding:0 14px;
    
    background-color:#faa077;
    margin: 0 6px 0 0;
    border-radius: 100px;
    
}

.variety li a, .variety li a:hover{
    color:black;
}

.variety li:hover{
    border: 1px solid #faa077;
    height: 40px;
    line-height: 40px;
}

.desc{
    display:grid;
    margin:6px 0;
    
}
.product img{
    width: 100%;
    
}

.desc p{
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    font-size: 14px;
    padding-bottom: 3px;
}

.desc p.seller{
    font-size: 12px;
    color: #999;
}

.desc .price {
    font-size:18px;
    font-weight: bolder;
    
}
a.productlink{
    margin:0;
}



aside form{
   font-size: 15px;
  
}

aside form p{
    margin: 0;
    font-weight: bold;
    padding-bottom: 10px;
}


.cat{
    list-style: none;
    padding:0 0 0 10px;
    margin: 0;
    
}

.cat li{
    padding: 5px 20px;
}

ul.cat li a:hover, .cat li a:hover:visited, .cat li a:visited{
    text-decoration: underline;
    color:#444;
}

 fieldset{
    border:none;
    position:relative;
    padding: 0;   
    margin: 10px 0;
}

.lblcontainer {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 12px;
    
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .lblcontainer input {
    position: absolute;
    opacity: 0;
   
    height: 0;
    width: 0;
  }

  .lblcontainer:hover input ~ .checkmark {
    background-color: #fff;
  }

  .checkmark, .selectedmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid #666;
    border-radius:4px;   
  }

  .selectedmark {
    border-radius: 50%;
  }

  .lblcontainer input:checked ~ .checkmark, .lblcontainer input:checked ~ .selectedmark{
    background-color: black;
  }

  .checkmark:after, .selectedmark:after { 
    content: "";
    position: absolute;
    display: none;
  } 

  .lblcontainer input:checked ~ .checkmark:after {
    display: block;
  }

  .lblcontainer .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .lblcontainer input:checked ~ .selectedmark:after {
    display: block;
  }
  
  .lblcontainer .selectedmark:after {
    top: 5px;
   left: 5px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}





  fieldset a{
      text-decoration: none;
      color:#444;
  }
  
  fieldset a:hover{
      text-decoration: underline;
  }

  input.customlocation, input.customprice{
      width:130px;
      height: 35px;
      margin-left: 30px;
      border: 1px solid #ccc;
      border-radius: 4px;
     
  }
  input.customprice{
    width:60px;
   
         
}

fieldset input.ctpricehigh{
    margin:0;
    margin-bottom: 10px;
   
}

  input.customlocation::placeholder, input.customprice::placeholder{
    color: grey;
    font-size: 14px;
    padding-left: 8px;
   
}


.button {
    position: absolute;
    background-color: transparent;;
    border:none;
    color: #222;
   margin-left: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
   
    cursor: pointer;
    height: 40px;
    width:40px;
  }

  .button:hover{
    background-color:#eee;;
    border-radius: 50%;
   
  }

  .dropdwn{
    
    background-color: white;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 10px;
    width:205px;
    margin:10px 0px 0 px0px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    
    
}